app
bootstrap
config
database
node_modules
routes
storage
tests
vendor
.env
.env.example
.gitignore
artisan
composer.json
composer.lock
package.json
package-lock.json
phpunit.xml
README.md
vite.config.js
